@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

:root {
    --color-main: #0C3D71;
}

* {
    font-family: 'Varela', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
}

.btn {
    border: none;
    outline: none;
    padding: .7rem 2rem;
    border-radius: 20px;
}

.btn-main {
    background: var(--color-main);
    color: #fff;
}

.btn-outline-main {
    border: 1px solid var(--color-main);
    color: var(--color-main);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #4a4a4a;
    padding: 1rem 0rem;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: 700;
}

.mail-icon {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.mail-icon + span {
    font-size: .87rem;
}

nav ul {
    display: flex;
}

nav li {
    margin-left: 2rem;
}

nav a {
    color: #4a4a4a;
    font-size: .86rem;
}

nav label {
    font-size: 1.4rem;
    display: none;
}

#menu-toggle {
    display: none;
}

.hero-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.hero-img {
    border-radius: 50%;
    margin-bottom: 1.2rem;
    box-shadow: 6px 6px 18px rgba(0,0,0,0.2),
                -6px -6px 18px rgba(255,255,255,0.8);
}

.hero-img + span {
    font-size: 1.25rem;
    font-weight: 700;
}

.hero-content h1 {
    text-align: center;
    font-size: 3.4rem;
    margin-top: 1rem;
    margin-bottom: 1.4rem;
    line-height: 4.2rem;
    font-weight: 700;
}

.hero-content p {
    font-size: 1.3rem;
    margin-bottom: .5rem;
}

.connect-btn {
    margin-top: 1.8rem;
}

.connect-btn a {
    font-size: 1.1rem;
    background: var(--color-main);
    color: #fff;
    padding: 1rem 3rem;
    border-radius: 30px;
    display: inline-block;
}

.tech-stack {
    margin: 5rem 0rem;
}

.tech-stack h3,
.works h3 {
    margin-bottom: 1.7rem;
    color: #4a4a4a;
    font-size: 1.3rem;
}

.tech-stack h2 {
    font-size: 2rem;
    color: #4a4a4a;
    margin-bottom: 2rem;
}

.skill-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill small {
    display: inline-block;
    font-weight: 600;
}

.skill img {
    width: 100%;
    margin-bottom: .2rem;
}

.grid-2x {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0rem 2.4rem;
    align-items: center;
}

.works {
    padding: 3rem 0rem 1rem 0rem;
    background: #F7FBFE
}

.work-grid {
    margin-bottom: 4.5rem;
}

.work-image img {
    width: 80%;
}

.work-info h2 {
    color: #333;
    font-size: 1.2rem;
    margin-bottom: .6rem;
}

.work-info p {
    color: #505050;
    line-height: 1.8rem;
    text-align: justify;
}

.work-btn {
    margin-top: 1rem;
}

.work-btn a {
    display: inline-block;
    margin-right: 1rem;
    font-size: .85rem;
    font-weight: bold;
}

.contact-me {
    padding: 3rem 0rem;
}

.contact-me h3 {
    color: #4a4a4a;
    margin-bottom: .2rem;
}

.contact-me h3 + small {
    color: var(--color-main);
    font-weight: 600;
    font-size: 1rem;
}

.contact-grid{
    align-items: flex-start;
}

.contact-info h3 {
    margin-bottom: 1.2rem;
    color: #4a4a4a;
}

.contact-info-grid {
    display: flex;
}

.contact-icon {
    height: 50px;
    width: 50px;
    background: #0DD7F7;
    color: #fff;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 50% 10px 50% 50%;
    margin-right: 1rem;
    margin-bottom: 3.5rem;
}

.contact-info-grid small {
    font-weight: 600;
    color: var(--color-main);
    display: inline-block;
    margin-bottom: .4rem;
    font-size: 1rem;
}

.contact-info-grid h2 {
    font-weight: 100;
    color: #555;
}

.social-contact {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    margin-top: .3rem;
}

.social-contact a {
    margin-right: 1rem;
    color: #333;
    font-size: 1.3rem;
}

.contact-form-wrapper {
    margin-top: 1rem;
}

.form-wrapper {
    margin-bottom: 1rem;
}

.form-wrapper label {
    margin-bottom: .5rem;
    display: block;
    text-align: left;
    text-transform: uppercase;
    color: #707070;
    font-size: .8rem;
    font-weight: bold;
}

.form-wrapper input,
.form-wrapper textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    width: 100%;
    display: block;
    padding: .7rem 1rem;
    outline: none;
}

.form-wrapper input:focus,
.form-wrapper textarea:focus {
    border: 1px solid var(--color-main);
}

.form-wrapper input[type=email] {
    margin-bottom: .5rem;
    display: block;
    height: 40px;
}

.contact-form-wrapper button {
    display: inline-block;
    margin-top: 1rem;
}

.contact-me button {
    font-weight: 600;
}

/* Mobile menu */
.mobile-menu {
    width: 100%;
    background: rgba(0,0,0,0.3);
    position: fixed;
    right: -100%;
    top: 0;
    height: 100%;
    z-index: 100;
    transition: right 500ms;
}

.menu-wrapper {
    height: 100%;
    width: 70%;
    margin-left: auto;
    background: #212529;
    padding: 1rem 2rem;
}

.aside-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.socials-menu a {
    margin-right: .7rem;
    color: #fff;
}

.aside-header label {
    font-size: 1.5rem;
    color: #fff;
}

.aside-content li {
    margin-bottom: 1.4rem;
}

.aside-content li a {
    font-size: 1.4rem;
    color: #fff;
}

.aside-content li:first-child a {
    color: #0DD7F7;
}

@media only screen and (max-width: 1024px) {
    .work-grid {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin-bottom: 5rem;
    }
    
    .work-image {
        margin-bottom: 2rem;
    }
    
    .contact-grid {
        grid-template-columns: 100%;
    }
}

@media only screen and (max-width: 768px) {
    nav ul {
        display: none;
    }
    
    nav label {
        display: inline-block;
    }
    
    #menu-toggle:checked + .mobile-menu {
        right: 0%;
    }
    
    .hero-content h1 {
        font-size: 1.8rem;
        line-height: 2.5rem;
    }
    
    .hero-content p {
        font-size: 1rem;
    }
    
    .hero-content h1 br {
        display: none;
    }
    
    .tech-stack h3,
    .works h3 {
        text-align: center;
    }
    
    .skill-wrapper {
        display: grid;
        grid-template-columns: auto auto auto
    }
    
    .skill {
        margin-bottom: 1.2rem;
    }
    
    .skill img {
        width: 40px !important;
    }
    
    .work-image {
        margin-bottom: 2rem;
    }
}


@media only screen and (max-width: 450px) {
    .wrapper {
        width: 85%;
    }
    
    .hero-content p {
        text-align: center;
    }
}